
---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Container from "../../components/Container.astro"


export async function getStaticPaths() {
  const blogEntries = await getCollection('posts-bo');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();


// Assuming you have a `posts` collection
// Fetching posts and sorting them by pubDate in descending order
const allPosts = (await getCollection('posts'))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());


// Log allPosts to inspect their structure
// console.log('All Posts:', allPosts);

// Function to find the current post index
const findCurrentPostIndex = (slug: string) => {
    return allPosts.findIndex(post => post.slug === slug);
};



const fullSlug = Astro.url.pathname; // Full path
// console.log('Full Slug:', fullSlug);

// Split the pathname and pop the last element. Fallback to an empty string if undefined
const currentSlug = fullSlug.split('/').pop() || '';
// console.log('Current Slug:', currentSlug);


// Find current, next, and previous posts
const currentIndex = findCurrentPostIndex(currentSlug);
const previousPost = allPosts[currentIndex -1 ];
const nextPost = allPosts[currentIndex + 1];

// Log the currentIndex to the console
// console.log('Current Index:', currentIndex);
// console.log('Previous Post:', previousPost);
// console.log('Next Post:', nextPost);
// console.log('Current Index:', currentIndex);

---

<Layout frontmatter={entry.data}>
 <Container>
  <div class="relative flex flex-col-reverse items-center md:flex-row " id="hero">
    <div class="row items-center py-5 md:pb-20 md:pt-10">
        <div class=" space-y-10  mb-8  text-xl font-normal leading-7 sm:mb-12 mt-20" id="post">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-center">{entry.data.title}</h2>
          <p class="mb-4 text-xl  text-gray-700 text-center">{entry.data.pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}</p>
    <Content />
    </div>
  </div>
 </Container>
  


    <div class="text-center py-10">
  
      <!-- Previous Post Link -->
    
      <!-- <div>
        <a href={`/posts/${previousPost.slug}`} class="text-blue-500 hover:text-blue-700">Previous: {previousPost.data.title}
         {previousPost.data.image && (
            <Picture src={previousPost.data.image.url} alt={previousPost.data.image.alt} height="200" width="300"/>)}
        </a> 
      </div> -->
      {previousPost && (
        <a  href={`/posts-bo/${previousPost.slug}`} class="text-blue-500 hover:text-blue-700 text-center"> ⬅️ Previous: 
        <p class="text-xl">{previousPost.data.title}</p>
      </a>
     )}
      <!-- Next Post Link -->
      {nextPost && (
        
         <a  href={`/posts-bo/${nextPost.slug}`} class="text-blue-500 hover:text-blue-700 text-center">
          <p> Next : ➡️</p>
         <p class="text-xl">{nextPost.data.title} </p>
        </a>
      )}
    </div>
    </Layout>